.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__group__groupName
        test  
      %ul.RightHeader__group__memberList 
        Member：
        %li.RightHeader__group__memberList__member
          a 
    .RightHeader__editButton
      = link_to "#" do
        Edit        
  .MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          aaaaa
        .MessageInfo__date  
          2020/06/09
      .Message
        trgrffgghhhrgr
  .Footer
    %form.Form{"accept-charset" => "UTF-8", :action => "/groups/1685/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "authenticity_token", :type => "hidden", :value => "8a+uxtDqXxK4WxGCKm0mbv7HW2MPks5CtKxwffiVQHULSPbimMajIT21JCdiqcJZi83ag7lt+HtKNae33y0fvA=="}
      .Form__contents
        %input#message_content.Form__contents__inputContent{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label.Form__contents__inputImage{:for => "message_image"}
          %i.far.fa-image.Form__icon
          %input#message_image.Hidden{:name => "message[image]", :type => "file"}
      %input.Form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}
 
