.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName  a
      %ul.LeftHeader__iconList
        %li.LeftHeader__iconList__Icon
          %a{:href => "#"}
            %i.fas.fa-edit  

        %li.LeftHeader__iconList__Icon
          %a{:href => "#"}
            %i.fas.fa-cog        
  .GroupList
    .Group
      .Group__name
        %a{:href => "#"}
          a
        .Group__message 
          %a{:href => "#"}
            まだメッセージはありません。
      .Group__name
        %a{:href => "#"}
          a
        .Group__message 
          %a{:href => "#"}
            まだメッセージはありません。
          
        