.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__list__userName
        a
      %ul.LeftHeader__list__iconList
        %li.LeftHeader__list__iconList__Icon
          %a{:href => "#"}
            %i.fas.fa-edit 
        %li.LeftHeader__list__iconList__Icon
          %a{:href => "#"}
            %i.fas.fa-cog        
  .GroupList
    .Group
      .Group__name
        %a{:href => "#"}
          a
        .Group__name__message 
          %a{:href => "#"}
            まだメッセージはありません。
      .Group__name
        %a{:href => "#"}
          a
        .Group__name__message 
          %a{:href => "#"}
            まだメッセージはありません。
          
        